<%= form_with model: @user, url: user_registration_path, class: "registration", local: true do |f| %>
  <div class="entire">
    <div class="bar"></div>
    <div class="main">
      <div class="left">
        <h1 class="registration-title">新規登録</h1>
        <div class="devise-errors">
          <%= render "devise/shared/error_messages", model: f.object %>
        </div>
        <div>
          <%= f.text_field :nickname, class:"input-registration", id:"nickname", placeholder:"ニックネーム", maxlength:"20", autofocus: true %>
        </div>
        <div>
          <%= f.email_field :email, class:"input-registration", id:"email", placeholder:"メールアドレス" %>
        </div>
        <div>
          <%= f.password_field :password, class:"input-registration", id:"password", placeholder:"パスワード 6文字以上の半角数字" %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, class:"input-registration", id:"password_confirmation", placeholder:"同じパスワードを入力してください" %>
        </div>
        <div>
          <%= f.submit "新規登録", class:"devise-btn" %>
        </div>
        <div class="devise-links">
          <%= link_to "ログインはこちらです。", new_session_path(resource_name), class:'devise-text' %><br />
        </div>
      </div>
      <div class="right">
        <%= image_tag 'enneagram.png' ,class:"image-logo" %>
        <div class="explanation">
          <p>このサイトでは<br>
          <span class="attention">「エニアグラム」</span>という<br>
          性格分析を行うことができます。<br><br>
          9つのタイプに分け、<br>
          <span class="attention-second">自分自身を知る</span>ことができ、<br>
          <span class="attention-second">性格分析を共有する</span>ことができます。</p>
        </div>
      </div>
    </div>
    <div class="bar"></div>
  </div>
<% end %>
