<div class="entire">
  <%= render "shared/header"%>
    <div class="center">
      <input id="menu" type="checkbox" class="hide-checkbox" ,onclick="checkbox">
      <label for="menu" class="open"><i class="fa fa-caret-right fa-3x" aria-hidden="true"></i></label>
      <label for="menu" class="back"></label>
    <%= render "shared/side_bar"%>
      <div class="main-right">
        <div class="main-title">
          <%= current_user.nickname %>さん
          (<%= current_user.enneagram.result.name %>)の性格
        </div>
        <div class="chart-entire" id="chart-entire">
          <div class="chart">
            <canvas id="indexChart" class="index-js"></canvas>
          </div>
          <div class="lists" id="lists">リスト</div>
          <ul class="show-lists hidden" id="pull-down">
            <% @enneagrams.where.not(user_id: current_user.id).each do |enneagram| %>
              <li class="pull-down-list" data-id="<%= enneagram.user.id%>"><%= enneagram.user.nickname %> </li>
            <% end %>
          </ul>
        </div>
        <div class="sub-titles">
          <div class="sub-title">大切にしている事</div>
          <div class="sub-explanation">
            <%= current_user.enneagram.result.important %>
          </div>
          <div class="sub-title">長所</div>
          <div class="sub-explanation">
            ・<%= current_user.enneagram.result.good1 %><br>
            ・<%= current_user.enneagram.result.good2 %><br>
            ・<%= current_user.enneagram.result.good3 %>
          </div>
          <div class="sub-title">短所</div>
          <div class="sub-explanation">
            ・<%= current_user.enneagram.result.bad1 %><br><br>
            ・<%= current_user.enneagram.result.bad2 %><br><br>
            ・<%= current_user.enneagram.result.bad3 %>
          </div>
          <div class="sub-title">学ぶべきタイプ</div>
          <div class="sub-explanation">
            <%= current_user.enneagram.result.learn1 %>
          </div>
        </div>
      </div>
    </div>
  <div class="bar"></div>
</div>