<div class="entire">
  <%= render "shared/header"%>
    <div class="center">
    <%= render "shared/side_bar"%>
      <div class="main-right">
        <div class="main-title">
          <%= current_user.nickname %>さん
          (<%= current_user.enneagram.result.name %>)の性格
        </div>
        <div class="sub-titles">
          <div class="sub-title">大切にしている事</div>
          <div class="sub-explanation">
            <%= current_user.enneagram.result.important %>
          </div>
          <div class="sub-title">長所</div>
          <div class="sub-explanation">
            ・<%= current_user.enneagram.result.good1 %><br>
            ・<%= current_user.enneagram.result.good2 %><br>
            ・<%= current_user.enneagram.result.good3 %>
          </div>
          <div class="sub-title">短所</div>
          <div class="sub-explanation">
            ・<%= current_user.enneagram.result.bad1 %><br>
            ・<%= current_user.enneagram.result.bad2 %><br>
            ・<%= current_user.enneagram.result.bad3 %>
          </div>
          <div class="sub-title">学ぶべきタイプ</div>
          <div class="sub-explanation">
            <%= current_user.enneagram.result.learn1 %>
          </div>
        </div>
      </div>
    </div>
  <div class="bar"></div>
</div>