<div class="entire">
  <%= render "shared/header"%>
    <div class="center">
      <input id="menu" type="checkbox" class="hide-checkbox">
      <label for="menu" class="open"><i class="fa fa-caret-right fa-3x" aria-hidden="true"></i></label>
      <label for="menu" class="back"></label>
    <%= render "shared/side_bar"%>
      <div class="main-right">
        <div class="main-title">
          <%= @user.nickname %>さん
          (<%= @user.enneagram.result.name %>)の性格
        </div>
        <div class="sub-titles">
          <div class="sub-title">大切だと思っていること</div>
          <div class="sub-explanation">
            <%= @user.enneagram.result.important %>
          </div>
          <div class="sub-title">苦手だと思っていること</div>
          <div class="sub-explanation">
            ・<%= @user.enneagram.result.stop1 %><br>
            ・<%= @user.enneagram.result.stop2 %><br>
            ・<%= @user.enneagram.result.stop3 %>
          </div>
          <div class="sub-title">モチベーションを維持または上げる際のポイント</div>
          <div class="sub-explanation">
            ・<%= @user.enneagram.result.motivation1 %><br>
            ・<%= @user.enneagram.result.motivation2 %><br>
            ・<%= @user.enneagram.result.motivation3 %>
          </div>
          <div class="sub-title">アドバイスする際の注意点</div>
          <div class="sub-explanation">
            ・<%= @user.enneagram.result.advice1 %><br>
            ・<%= @user.enneagram.result.advice2 %>
          </div>
        </div>
      </div>
    </div>
  <div class="bar"></div>
</div>