<div class="side">
  <label for="menu" class="close"><i class="fa fa-caret-left fa-3x" aria-hidden="true"></i></label>
  <div class="side-top">
    <%= link_to root_path ,class:"side-tops" do %>
      <div class="current-user-name">
        <%= current_user.nickname %><span>さん</span>
      </div>
      <div class="type-title">タイプ</div>
      <div class="current-user-type">
        <%= current_user.enneagram.result.name %>
      </div>
    <% end %>
    <div class="devise-logout">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "index-logout" %>
    </div>
  </div>
  <div class="side-bottom">
    <div class="user-title">
      <p>ユーザーリスト</p>
    </div>
    <% @enneagrams.where.not(user_id: current_user.id).each do |enneagram| %>
      <div class="users-info">
        <%= link_to user_path(enneagram.user.id), class:"user-info" do %>
          <%= enneagram.user.nickname %>
          (<%= enneagram.result.name %>)
        <% end %>
      </div>
    <% end %>
  </div>
</div>