<%= form_with model: @user, url: user_session_path, class:"session", local: true do |f| %>
  <div class="entire">
    <div class="main">
      <div class="main-entire">
        <div class="left">
          <h1 class="devise-title">性格分析を<br>共有するアプリケーション</h1>
          <div class="devise-errors">
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
          <div>
            <div>
              <%= f.email_field :email, class:"input-session", id:"email", placeholder:"メールアドレス", autofocus: true %>
            </div>
            <div>
              <%= f.password_field :password, class:"input-session", id:"password", placeholder:"パスワード" %>
            </div>
            <div>
              <%= f.submit "ログイン", class:"devise-btn" %>
            </div>
          </div>
          <div class="devise-links">
            <div class="devise-link">
              <%= link_to "新規登録はこちらです。", new_registration_path(resource_name), class:'devise-text' %><br />
            </div>
          </div>
        </div>
        <div class="right">
          <div class="image-logo">
            <%= image_tag 'enneagram_logo.png' %>
            <div class="explanation">
              <p>このサイトでは<br>
              <span class="attention">エニアグラム</span>という<br>
              性格分析を行うことができます。<br><br>
              <span class="attention">9つのタイプ</span>に分け、<br>
              自分自身のタイプを知ることがきると共に、<br>
              従業員と性格分析を共有することができます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>