<%= form_with model: @user, url: user_session_path, class:"session", local: true do |f| %>
  <div class="entire">
    <div class="bar"></div>
    <div class="main">
      <div class="left">
        <h1 class="session-title">性格分析を<br>共有するアプリケーション</h1>
        <div class="devise-errors">
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <div>
          <%= f.email_field :email, class:"input-session", id:"email", placeholder:"メールアドレス", autofocus: true %>
        </div>
        <div>
          <%= f.password_field :password, class:"input-session", id:"password", placeholder:"パスワード" %>
        </div>
        <div>
          <%= f.submit "ログイン", class:"devise-btn" %>
        </div>
        <div class="devise-links">
          <%= link_to "新規登録はこちらです。", new_registration_path(resource_name), class:'devise-text' %><br />
        </div>
      </div>
      <div class="right">
        <%= image_tag 'enneagram.png' ,class:"image-logo" %>
        <div class="explanation">
          <p>このサイトでは<br>
          <span class="attention">「エニアグラム」</span>という<br>
          性格分析を行うことができます。<br><br>
          9つのタイプに分け、<br>
          <span class="attention-second">自分自身を知る</span>ことができ、<br>
          <span class="attention-second">性格分析を共有する</span>ことができます。</p>
        </div>
      </div>
    </div>
    <div class="bar"></div>
  </div>
<% end %>
